/* faq dropdwown start */
.proDrop {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.proDrop.show {
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}

/* faq dropdown stop */

/* text rotate start */
#rotatingText {
    animation-name: rotate-circle;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes rotate-circle {
    to {
        transform: rotate(1turn);
    }
}

.animate-spin-slow {
    animation: spin 5s linear infinite; /* Adjust the duration (4s) for slower animation */
  }

/* text rotating end */

.df{
        border-right: 66px solid transparent
}