@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  background-color: #ffffff;
}

/* @media screen and (max-width: 768px) {
    body{
        font-size: 12px;
    }
} */

/* Custom text styles */
.heading-xl {
  @apply text-white text-[3.5rem] font-bold leading-[75px];
}

.blue-heading {
  @apply text-primary text-[1.25rem] font-normal leading-[29px] ;
}

.heading-lg {
  @apply text-[2rem] font-bold leading-[56px];
}

.heading-md {
  @apply text-[1.5rem] font-normal;
}

.heading-sm {
  @apply text-[1.25rem] font-bold leading-[37px] tracking-[0.4px];
}

.content-1 {
  @apply text-[1.25rem] font-normal leading-[37px] tracking-[0.4px];
}

.content-2 {
  @apply text-[1.125rem] font-normal leading-[35px] tracking-[0.35px];
}

.text-default {
  @apply text-[1rem] font-normal leading-[26px] tracking-[0.32px];
}

/* Custom text styles over */


/* custom button styles */

.btn {
  @apply flex items-center rounded-3xl md:px-5 px-4 md:py-3 py-2 text-[14px] font-bold;
}

.btn-outline {
  @apply border border-primary text-white;
}

.btn-fill {
  @apply bg-primary text-white;
}

.btn-white {
  @apply bg-white text-primary;
}

/* custom button styles over */

.image_background {
  background: radial-gradient(
    60.67% 61.39% at 72.73% 42.98%,
    #213b63 0%,
    #101722 100%
  );
}

.btn-hover {
  position: relative;
  overflow: hidden;
  z-index: 0;
  transition: all 0.3s ease-in-out;
}

.btn-hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  z-index: -1;
  background-color: #4541fe;
  transition: all 0.3s ease-in-out;
}

.btn-hover:hover::before {
  width: 100%;
}


/* hover animations */

.header-list{
  position: relative;
  padding: 0px 4px;
}

.header-list::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #4541fe;
  transform: scaleX(0);
  /* transform-origin: left; */
  transition: transform 0.3s ease-out;
}

.header-list:hover::before{
  transform: scaleX(1);
}

/* hover animations end */

/* card flip animation */

.card-flip{
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-flip:hover {
  transform: rotateY( 360deg ) ;
  transition: transform 0.5s;
}
